#manage compressor
[COMPRESSOR]
#compressor's name
compressor_name = dctz
#compression mode
compression_mode = qt
#full compressor name
full_compressor_name = dctz_qt
#the directory that will contain the test-cases
workspaceDir = /home/gridsan/sson/work/z-checker-installer/DCTZ

#the directory that contains the executable (i.e., exeCommand = ./testfloat_CompDecomp ....)
exeDir = /home/gridsan/sson/work/z-checker-installer/DCTZ

#preprocessing work before performing compression (e.g., copying the configuration file to the workspace)
#preCommand will be done only once for each workspace before the compression assessment.
#$testcase refers to the test_case_name; $workspaceDir refers to the workspace
#preCommand = cp /home/sdi/Development/SZ_C_Version/sz-2.0/example/sz.config $workspaceDir/$testcase

preCommand = 

#the executable already integrated with Z-checker interfaces
#exeCommand = ./testfloat_CompDecomp sz.config zc.config COMPRESSION_CASE VAR_NAME #ERROR_MODE ERROR_BOUND DATA_FILE DIM1 DIM2 DIM3 DIM4
exeCommand = ./dctz-qt-zc-test $datatype $absErrBound "$varName" "$file" $dims "${compressor}($absErrBound)"
